__pycache__/
.ipynb_checkpoints/

out/*
!out/.gitkeep

data/Flower_Data/train/*
!data/Flower_Data/train/.gitkeep

data/Flower_Data/test/original/*
!data/Flower_Data/test/original/.gitkeep

data/Flower_Data/test/resized/*
!data/Flower_Data/test/resized/.gitkeep

data/Flower_Data/val/*
!data/Flower_Data/val/.gitkeep

# model sizes are too large to commit
model/*_resnet50*
model/*_vgg16*
model/*_inceptionv3*